.bookingLink{
    border: 2px solid hsl(var(--clr-dark),.4);
    margin: 2em;
    border-bottom: 2px solid hsl(var(--clr-dark), .4);
    background-color: hsl(var(--clr-brown),.3);
    padding-left: 5px;
    padding-right: 5px;



}
.bookingLink:hover{
    border: 2px solid hsl(var(--clr-dark),.4);
    background-color: hsl(var(--clr-yellow),.7);
}