.reviews-container {
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
}

.review-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.review-item {
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: hsl(var(--clr-brown), 0.3);
  border: 3px solid hsl(var(--clr-brown));
  overflow-y: auto;
  margin-top: 25px;
}
.review-text {
  font-size: clamp(var(--fs-100), 2vh, var(--fs-300));
}
