.bookingLink{
    border: 2px solid hsl(var(--clr-dark),.4);
    margin: 2em;
    border-bottom: 2px solid hsl(var(--clr-dark), .4);
    background-color: hsl(var(--clr-brown),.3);
    padding-left: 5px;
    padding-right: 5px;
    font-size: clamp(var(--fs-400), 5vw, var(--fs-500));



}
.bookingLink:hover{
    border: 2px solid hsl(var(--clr-dark),.4);
    background-color: hsl(var(--clr-yellow),.7);
}