.aboutBody{
    padding: 3em;
    background-color: hsl(var(--clr-light), .2);
    text-align: center;
    min-height: 40vh;
}
.aboutHeader{
    text-align: center;
    background-color: hsl(var(--clr-yellow), .5);
    border: 2px solid hsl(var(--clr-brown));

}
.aboutImage{
    border: .2em solid hsl(var(--clr-brown));
    margin: .5em;
    max-width: 35vw;
    height: auto;
    max-height: 30vh;
    float: left;
    /*box-shadow: -10px -5px 19px black;*/
}

