.aboutBody{
    padding: 3em;
    background-color: hsl(var(--clr-light), .2);
    text-align: center;
    min-height: 40vh;

}
.aboutHeader{
    text-align: center;
    background-color: hsl(var(--clr-yellow), .5);
    border: 2px solid hsl(var(--clr-brown));

}
.aboutImage{
    border: .2em solid hsl(var(--clr-brown));
    max-width: 65vw;
    height: auto;

}

@media (max-width: 1000px){
    .aboutImage{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1000px ){
    .aboutImage{
        max-width: 35vw;
        max-height: 40vh;
        float: left;
        margin: .5em;
    }
}