.social-logo{
    width: 30px;
    height: auto;
}

.footer{
    margin-top: 4rem;
    border-top: .2rem solid hsl(var(--clr-black), .2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(var(--clr-brown),.4);
    padding: .2em 1vw;
    font-size: var(--fs-300);
}
.footer>a{
    color:inherit;
}
@media(max-width: 300px){
    .footer{
        font-size: var(--fs-200);
    }
}


@media(max-width: 550px) {
    .footer{
        margin-left:0;
        margin-right:0;
    }
}

