.tour-container{
    display: flex;
    justify-content: center;
    align-items: center;


}

.tour-header{
    text-align: center;
    background-color: hsl(var(--clr-yellow), .5);
    border: 2px solid hsl(var(--clr-brown));
}
.tour-img{
    width: 400px;
    height: auto;
    border: 4px solid hsl(var(--clr-brown));
    margin: 1rem;

}