.bookingLink{
    border: 2px solid hsl(var(--clr-dark),.4);
    margin: 2em;
    border-bottom: 2px solid hsl(var(--clr-dark), .4);
    background-color: hsl(var(--clr-brown),.3);
    padding-left: 5px;
    padding-right: 5px;
    font-size: clamp(var(--fs-100), (var(--fs-500)), var(--fs-500));
}


.bookingLink:hover{

    border: 2px solid hsl(var(--clr-dark),.4);
    background-color: hsl(var(--clr-yellow),.7);
}


.responsive-booking-button{

    border: 2px solid hsl(var(--clr-dark),.4);
    border-bottom: 2px solid hsl(var(--clr-dark), .4);
    background-color: hsl(var(--clr-brown),.3);
    padding-left: 5px;
    padding-right: 5px;
    margin: 2em;
    font-size: clamp(var(--fs-100), (var(--fs-500)), var(--fs-500));
    display:none;
}




@media(max-width: 550px){
    .responsive-booking-button{
        display:flex;
    }
}